footer {
  background-color: #f8f8f8;
  padding: 20px 0;
  font-size: 1em;
  color: #777;
  margin-top: 30px;
}

.footer-content {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.footer-text {
  font-size: 1.2em;
  background-color: #467ff7;
  color: white!important;
  padding: 12px 0;
  margin-bottom: 15px;
}

.footer-year {
  font-size: 1em;
  margin-bottom: 15px;
  text-align: center;
}

.footer-links {
  font-size: 1em;
  margin-bottom: 15px;
}

.footer-link {
  text-decoration: none;
  color: #467ff7;
  margin: 0 10px;
}

.footer-link:hover {
  text-decoration: underline;
  color: #3c6e9c;
}

/* Responsive Design */
@media (max-width: 768px) {
  footer {
    font-size: 0.9em;
  }

  .footer-links {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 0.8em;
  }

  .footer-links {
    font-size: 0.8em;
  }
}
